html,
body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.light-mode {
    background-color: var(--light-primary);
    transition: background-color 0.4s, color 0.4s;
}

.light-mode * {
    background-color: transparent;
    color: var(--light-text);

}

.dark-mode {
    background-color: var(--dark-primary);
    transition: background-color 0.4s, color 0.4s;
}

.dark-mode * {
    background-color: transparent;
    color: var(--dark-text);

}

.dark-mode .spinner {
    background-color: var(--dark-primary);
}

.light-mode .spinner {
    background-color: var(--light-primary);
}

.main-content {
    display: flex;
}

.void {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.top {
    margin-top: 5vh;
}

#apidex {
    position: sticky;
    top: 0;
    cursor: pointer;
}

.sprite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-header);
    width: 200px;
    height: 200px;
    margin: 1%;
    min-width: 200px;
    min-height: 200px;
}

.sprite-container:hover {
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;

}

.sprite-container .sprite {
    width: 80%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sprite-container .name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--dark-header);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.pkmn-container {
    width: 100%;
    margin: 2%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    animation: wraping 5s ease-in-out;
}

.spinner {
    background-color: var(--dark-primary);
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes wraping {
    0% {
        flex-wrap: wrap;
    }

    100% {
        flex-wrap: wrap-reverse;
    }
}