:root {
    --light-primary: #f3f3f3;
    --dark-primary: #333;
    --light-secondary: #8a8a8a;
    --dark-secondary: rgb(66, 66, 66);
    --light-text: #333;
    --dark-text: #fafafa;
    --light-header: #58585833;
    --dark-header: rgba(143, 143, 143, 0.123);
}

.sidebar-wrapper {
    --primary-color: #D96AA7;
    --secondary-color: #422C73;
    --complimentary-color: #88BFB5;
    --contrast-color: #F2E527;
    --light-color: #D2A9D9;
}

#types {
    --bug: #83C300;
    --dark: #5B5466;
    --dragon: #006FC9;
    --electric: #FBD100;
    --fairy: #FB89EB;
    --fighting: #E0306A;
    --fire: #FF9741;
    --flying: #89AAE3;
    --ghost: #4C6AB2;
    --grass: #38BF4B;
    --ground: #E87236;
    --ice: #4CD1C0;
    --normal: #919AA2;
    --poison: #B567CE;
    --psychic: #FF6675;
    --rock: #C8B686;
    --steel: #5A8EA2;
    --water: #3692DC;
}