.move-container {
    background-color: var(--dark-secondary);
}

.type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.types {
    margin: 0 5px;
    width: 1.2rem;
}

table{
    height: 100vh;
}

tr {
    text-align: center;
    font-size: 1.2rem;
}